html,
body {
  margin: 0;
  padding: 0;
}

.hero-image-container {
  height: 66vh;
  overflow: hidden;
}

.hero-image {
  width: 100vw;
  opacity: 68%;
  height: 75vh;
}

.image-overlay {
  position: relative;
}

.image-overlay .text {
  color: white;
  text-shadow: -5px 5px 10px #000;
  font-size: min(8vw, 144px);
  text-align: center;
  width: 100%;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-overlay .tagline {
  color: white;
  font-size: min(4vw, 72px);
  text-shadow: -5px 5px 10px #000;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (max-width: 1440px) and (orientation: portrait) {
  .image-overlay .tagline {
    top: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .image-overlay .text {
    top: 23%;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .hero-image {
    width: auto;
    margin-left: -12%;
  }
}

@media screen and (max-height: 568px) and (orientation: portrait) {
  .image-overlay .tagline {
    top: 40%;
  }
}

@media screen and (max-width: 375px) {
  .hero-image {
    margin-left: -20%;
  }
}

/* iPhone X */
@media screen and (max-width: 812px) and (orientation: portrait) {
  .image-overlay .tagline {
    top: 40%;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
  .image-overlay .tagline {
    top: 60%;
  }
}